@import "tailwindcss";

body{
  background-color: black;
  
}

.is{
      color: #14cf93;
    }
  .reveal .parent {
  display: block;
  overflow: hidden;
}

.reveal .parent .child {
  display: block;
  transform: translateY(100%);
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.2s;
}

@keyframes slideUp {
  to {
    transform: translateY(0%);
  }
}

.child span {
  display: inline-block;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.animate-slide-delayed {
  animation: slide 30s linear infinite;
  animation-delay: 2s; /* Adjust delay here */
}

