@import "tailwindcss";


.is{
      color: #14cf93;
    }
 
@keyframes slideUp {
  to {
    transform: translateY(0%);
  }
}

.child span {
  display: inline-block;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.animate-slide-delayed {
  animation: slide 10s linear infinite;
  animation-delay: 2s; /* Adjust delay here */
}

